 
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="row">

                <div class="col-12 mb-3">
                    <ul class="list-group">
                        <li class="list-group-item">Кто заправил баки пивом? Борт сегодня не летит!</li>
                    </ul>
                </div>

                <div class="col-4">

                </div>
                <div class="col-8">
                    <div class="card">
                        <div class="card-header">
                            Стоимость
                        </div>
                        <img src="https://picsum.photos/500/500?random=1" class="card-img-top" alt="..." />

                        <div class="card-footer text-muted">
                            Let's smile:)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <img src="https://picsum.photos/300/300?random=1" class="mb-3" alt="..." />
            <img src="https://picsum.photos/300/300?random=1" class="mb-3" alt="..." />
        </div>
    </div>
</div>


