@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ваш личный путеводитель</h1>
</div>


<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="card  mt-3" style="width: 18rem;">
                <img src="https://mos-holidays.ru/wp-content/uploads/2010/05/moskovsky-kreml-1.jpg" , width="300" height="300" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="аа">Российская Федерация</h5>
                    <p class="card-text">Медведи, хареры и водка - три кита, на которых держится великая держава, по мнению иностранцев.</p>
                    <a href="https://ru.wikipedia.org/wiki/%D0%97%D0%B0%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0" class="btn btn-primary">Тык
                    </a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mt-3" style="width: 18rem;">
                <img src="https://7daytravel.ru/wp-content/uploads/2019/03/7daytravel-london-10.jpg" , width="300" height="300" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Великобритания</h5>
                    <p class="card-text">Лондон – столица Англии и Соединенного Королевства. Страна Шерлока Холмса и беспрестанного чаепития.</p>
                    <a href="#" class="btn btn-primary">Тык</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mt-3" style="width: 18rem;">
                <img src="https://thumbs.dreamstime.com/b/paris-eiffel-tower-river-seine-sunset-france-one-most-iconic-landmarks-107376702.jpg" , width="300" height="300" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Франция</h5>
                    <p class="card-text">Париж, как никакой другой город, пронизан атмосферой легкости, беззаботности, свободы и романтики.</p>
                    <a href="#" class="btn btn-primary">Тык</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mt-3" style="width: 18rem;">
                <img src="https://thumbs.dreamstime.com/b/statue-liberty-new-york-city-skyline-sunset-united-states-statue-liberty-new-york-city-skyline-sunset-119240864.jpg" , width="300" height="300" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Северная Америка</h5>
                    <p class="card-text">Нью-Йорк или "город большого яблока" и джазовых музыкантов на рубеже 30 годов XX-го столетия.</p>
                    <a href="#" class="btn btn-primary">Тык</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mt-3" style="width: 18rem;">
                <img src="https://traveller-eu.ru/sites/default/files/Stockholm-Page-Image-2592x1304-800x402_0.jpg" , width="300" height="300" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Стокгольм</h5>
                    <p class="card-text">Швеция входит в десятку стран по потреблению кофе на душу населения. В среднем каждый швед выпивает в день 3-4 чашки..</p>
                    <a href="#" class="btn btn-primary">Тык</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mt-3" style="width: 18rem;">
                <img src="https://history-doc.ru/wp-content/uploads/2018/11/tadzh-mahal.jpg" ,  width="300" height="300" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Агра</h5>
                    <p class="card-text">Книге рекордов Гиннесса зафиксирован рекорд самого большого в мире одеяла, связанного крючком. В Индии возвели самого большого в мире павлина из металла. Зафиксирован рекорд на самое массовое исполнение национального гимна..                      </p>
                    <a href="#" class="btn btn-primary">Тык</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mt-3" style="width: 18rem;">
                <img src="https://ic.pics.livejournal.com/dergachev_va/58474394/1642371/1642371_original.jpg" ,  width="300" height="300" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Рио-де-Жанейро</h5>
                    <p class="card-text">Призывник может отказаться от службы в бразильской армии, если успешно пройдет тест на оказание медицинской помощи.</p>
                    <a href="http://www.openarium.ru/%D0%91%D1%80%D0%B0%D0%B7%D0%B8%D0%BB%D0%B8%D1%8F/%D0%A0%D0%B8%D0%BE-%D0%B4%D0%B5-%D0%96%D0%B0%D0%BD%D0%B5%D0%B9%D1%80%D0%BE/%D0%9F%D1%83%D1%82%D0%B5%D0%B2%D0%BE%D0%B4%D0%B8%D1%82%D0%B5%D0%BB%D1%8C/" class="btn btn-primary">Тык</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mt-3" style="width: 18rem;">
                <img src="https://internationalwealth.info/wp-content/uploads/2020/02/ca-vankuver.jpg" , width="300" height="300" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ванкувер</h5>
                    <p class="card-text">В Канаде был зафиксирован рекорд по длине плотины, построенной бобрами – протяженность сооружения составляла 850 метров.</p>
                    <a href="https://spasibo-travel.by/guide/putevoditel-po-kanade" class="btn btn-primary">Тык</a>
                </div>
            </div>
        </div>
    </div>
</div>






