<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>Карта </p>
        </div class="col-md-6">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A31eec64262b721e0da9dbcf2766252990a60b5629804f83f2cf8e8ffd2b8edf1&amp;width=810&amp;height=624&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>