@{
    ViewData["Title"] = "Зачем нужны путеводители?";
}
<h1>@ViewData["Title"]</h1>
<div class="aa">
<div class="card" style="width: 18rem;" align="right">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">njffnvjfvnljfvlehvnerifnvirunvgiruvhnivruivnhiprvbrpeiv</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>s
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
<div class="card" style="width: 18rem;">

    <div class="her" style="display=flex;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Тема пикчи</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-push-10">
            <div class="card" style="width: 18rem; height: 18rem;">
                <div class="card-body">
                    x; top:-50px">
                    <div class="feature text-right">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Тема пикчи</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
  
